
<div class="flex-auto">
    <div class="flex flex-wrap">
        <div class="relative  w-full pr-4 max-w-full flex-grow flex-1 mb-3 p-4">

            <div class="flex flex-col">
                <!-- Subsidiary Name -->
                <div class="flex flex-col justify-between items-center">
                    <h4 class=" text-orange-600 text-sm md:text-xl font-semibold mb-3">
                        Informations de la salle
                    </h4>
                    <div class="flex flex-col md:flex-row justify-between md:items-center mb-3 w-full">
                        <div class="flex flex-col justify-start w-full md:w-6/12">
                            {{ form_label(form.name, 'Nom de la salle', {
                                'label_attr': {
                                    'class': 'italic text-sm text-tail-400 ml-3 pb-1'
                                }
                            }) }}
                            {{ form_widget(form.name, {
                                'attr': {
                                    'class': 'input-partner'
                                },
                            }) }}
                            {{ form_errors(form.name) }}
                        </div>
                        <!-- Subsidiary PhoneNumber -->
                        <div class="flex flex-col w-full md:w-5/12 pt-3 md:pt-0">
                            {{ form_label(form.phoneNumber, 'Numéro de téléphone', {
                                'label_attr': {
                                    'class': 'italic text-sm text-tail-400 ml-3 pb-1'
                                }
                            }) }}
                            {{ form_widget(form.phoneNumber,{
                                'attr': {
                                    'class': 'input-partner'
                                }
                            } ) }}
                            {{ form_errors(form.phoneNumber) }}
                        </div>
                    </div>
                    <div class="flex flex-col w-full">
                        <!-- Subsidiary logo -->
                        {{ form_label(form.logo, 'Logo de la salle', {
                            'label_attr': {
                                'class': 'italic text-sm text-tail-400 ml-3 pb-2'
                            }
                        }) }}
                        {{ form_widget(form.logo,{
                            'attr': {
                                'class': 'input-partner'
                            }
                        } ) }}
                        {{ form_errors(form.logo) }}
                    </div>
                    <div class="flex flex-col w-full mt-3">
                        <!-- Subsidiary website -->
                        {{ form_label(form.url, 'Site internet de la salle', {
                            'label_attr': {
                                'class': 'italic text-sm text-tail-400 pb-2'
                            }
                        }) }}
                        {{ form_widget(form.url,{
                            'attr': {
                                'class': 'input-partner'
                            }
                        } ) }}
                        {{ form_errors(form.url) }}
                    </div>

                    <div class="flex flex-col w-full mt-3">
                        <!-- Subsidiary Address -->
                        {{ form_label(form.address, 'Adresse', {
                            'label_attr': {
                                'class': 'italic text-sm text-tail-400 ml-3 pb-2'
                            }
                        }) }}
                        {{ form_widget(form.address,{
                            'attr': {
                                'class': 'input-partner'
                            }
                        } ) }}
                        {{ form_errors(form.address) }}
                    </div>
                    <div class="flex flex-col md:flex-row justify-between md:items-center mb-3 w-full mt-3 md:mt-0">
                        <!-- Subsidiary city -->
                        <div class="flex flex-col w-full md:w-4/12">
                            {{ form_label(form.city, 'Ville', {
                                'label_attr': {
                                    'class': 'italic text-sm text-tail-500 ml-3 pb-2'
                                }
                            }) }}
                            {{ form_widget(form.city, {
                                'attr': {
                                    'class': 'input-partner'
                                }
                            }) }}
                            {{ form_errors(form.city) }}
                        </div>
                        <div class="flex flex-col w-full md:w-3/12 mt-3 md:mt-0">
                            {{ form_label(form.postalCode, 'Code postal', {
                                'label_attr': {
                                    'class': 'italic text-sm text-tail-400 ml-3 pb-2'
                                }
                            }) }}
                            {{ form_widget(form.postalCode,{
                                'attr': {
                                    'class': 'input-partner'
                                }
                            } ) }}
                            {{ form_errors(form.postalCode) }}
                        </div>
                    </div>
                    <div class="flex flex-col w-full mt-3">
                        <!-- Subsidiary Description -->
                        {{ form_label(form.description, 'Déscription de la salle', {
                            'label_attr': {
                                'class': 'italic text-sm text-tail-400 pb-2'
                            }
                        }) }}
                        {{ form_widget(form.description,{
                            'attr': {
                                'class': 'input-partner'
                            }
                        } ) }}
                        {{ form_errors(form.description) }}
                    </div>

                    <div class="flex items-center w-full mt-3 mb-6 ">
                        {{ form_label(form.isActive, 'Activer la salle ?', {
                            'label_attr': {
                                'class': 'text-base text-orange-400',
                            },

                        }) }}
                        <div class="flex form-check form-switch w-4/12 ml-10">
                            {{ form_widget(form.isActive,{
                                'attr': {
                                    'class': 'form-check-input appearance-none w-9 -ml-10 rounded-full float-left h-5 align-top bg-teal-400 bg-no-repeat bg-contain bg-orange-300 focus:outline-none cursor-pointer shadow',

                                },
                                'type' :"checkbox",
                                'role' :"switch",
                                'id' :"flexSwitchCheckChecked",
                            } ) }}
                        </div>
                    </div>
                </div>
                <hr>
                <div>
                    <!--Manager  Full Name-->
                    <div class="flex-col justify-between items-center">
                        <div class="flex flex-col justify-between my-5 ">
                            <h4 class="text-orange-600 text-sm md:text-xl font-semibold">Informations du manager</h4>
                            <div class="flex flex-col w-full md:w-8/12">
                                .
                                {{ form_label(form.user.firstName, 'Prénom du Manager', {
                                    'label_attr': {
                                        'class': 'italic text-sm text-tail-400 ml-3'
                                    }
                                }) }}
                                {{ form_widget(form.user.firstName, {
                                    'attr': {
                                        'class': 'input-partner '
                                    }
                                }) }}
                                {{ form_errors(form.user.firstName) }}
                            </div>
                            <div class="flex flex-col w-full md:w-8/12">
                                {{ form_label(form.user.lastName, 'Nom du Manager', {
                                    'label_attr': {
                                        'class': 'italic text-sm text-tail-400 ml-3'
                                    }
                                }) }}
                                {{ form_widget(form.user.lastName,{
                                    'attr': {
                                        'class': 'input-partner '
                                    }
                                } ) }}
                                {{ form_errors(form.user.lastName) }}
                            </div>
                        </div>
                        <div class="flex flex-col justify-between my-5">
                            <h4 class="text-orange-600 text-sm md:text-xl font-semibold mb-3">Identifiants de connexion du
                                Manager</h4>
                            <div class="flex flex-col w-full md:w-8/12 mb-3">
                                {{ form_label(form.user.email , 'Email', {
                                    'label_attr': {
                                        'class': 'italic text-sm text-tail-400 ml-3'
                                    }
                                }) }}
                                {{ form_widget(form.user.email, {
                                    'attr': {
                                        'class': 'input-partner '
                                    }
                                }) }}
                                {{ form_errors(form.user.email) }}
                            </div>
                            <div class="flex flex-col w-full md:w-8/12 mb-3">
                                {{ form_label(form.user.password, 'Mot de passe provisoire', {
                                    'label_attr': {
                                        'class': 'italic text-sm text-tail-400 ml-3'
                                    }
                                }) }}
                                {{ form_widget(form.user.password,{
                                    'attr': {
                                        'class': 'input-partner '
                                    }
                                } ) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>