{% extends 'base.html.twig' %}

{% block title %}Fitness Lions Club - Dashboard{% endblock %}

{% block main %}

    {{ include('/navigation/_mobil-navigation.html.twig') }}
    {{ include('/navigation/_sidebar-menu-desktop.html.twig') }}

    <div class="relative md:ml-60 bg-blueGray-50">
        <!-- Header -->
        <div class="bg-orange-500 md:pt-12 pb-32 pt-12 lg:h-max">
            <div class="px-4 md:px-10 mx-auto my-auto w-full">
                {% block mainTop %}
                    {{ include('components/dashboard/content-dashboard/_top-search-bar.html.twig') }}
                {% endblock %}
            </div>
        </div>
        {% block content %}
            {{ include('components/dashboard/_content-dashboard.html.twig') }}
        {% endblock %}

        {{ include('components/dashboard/content-dashboard/_footer.html.twig') }}
    </div>

{% endblock %}

