<div class="flex justify-center items-center  md:bg-teal-400 rounded-lg shadow-2xl md:py-20 md:px-10">
    <div class="flex flex-col items-center bg-white rounded shadow md:p-10 w-full">

        <h1 class="text-center text-zinc-900 uppercase font-bold text-base md:text-lg mb:pb-12 mt-3 md::mt-0">
            Ajout d'une nouvelle salle
        </h1>
        <div class="w-full px-1 md:px-28">


            {{ form_start(form) }}

            {{form_widget(form._token)}}
            <div class="flex justify-start items-center">
                {{ include('partner/_form-new-subsidiary.html.twig') }}
            </div>
                    <h3 class="text-orange-500 text-lg font-semibold text-center mb-5 capitalize py-5">
                        Permission de la salle
                    </h3>
            <div class="w-full flex justify-end items-center mt-1">
                    {{ include('partner/_form-subsidiary-permissions.html.twig') }}
                </div>
            </div>
            <div class="w-full flex justify-center md:justify-end items-center mb-5 mt-8">
                <div class="w-full flex justify-center md:justify-end items-center mb-5 mt-8">
                    <button class="btn w-10/12 md:w-3/12 px-6 py-2 border-2 border-orange-500/50 rounded text-base text-zinc-900 hover:border-teal-500  capitalize">
                        {{ button_label|default('Enregistrer') }}
                    </button>
                </div>
            </div>
            {{ form_end(form, {'render_rest': false}) }}

        </div>
    </div>






























