{% import _self as formMacros %}

<!--MACRO POUR AJOUT PERMISSION-->
{% macro printPermissionRow(permissionForm) %}
    <li class="permission-info w-full  flex flex-col justify-start items-center mb-3 mt-5">

        {{ form_widget(permissionForm.permission, {
            'attr': {
                'class': 'rounded  border-solid accent-pink-500 w-full lg:w-5/12 pr-2 lg:pr-10'

            }
        }) }}
        <span class="flex justify-between items-center form-check form-switch w-full lg:w-4/12">

            {{ form_label(permissionForm.isActive, "Activer l'option ?", {
                'label_attr': {
                    'class': 'italic text-base  text-orange-400 mr-20 -ml-10'
                }
            }) }}
            {{ form_widget(permissionForm.isActive,{
                'attr': {
                    'class': 'form-check-input appearance-none w-9 -ml-10 rounded-full float-left h-5 align-top bg-white bg-no-repeat bg-contain bg-orange-300 focus:outline-none cursor-pointer shadow',

                },
                'type' :"checkbox",
                'role' :"switch",
                'id' :"flexSwitchCheckChecked",
            } ) }}
        </span>
    </li>

{% endmacro %}

<div class="flex justify-center items-center  bg-teal-400 rounded-lg shadow-2xl px-1 py-1 md:py-20 md:px-10">
    <div class="flex flex-col items-center bg-white rounded shadow p-3 md:p-10 w-full">

        <h1 class="text-center text-zinc-900 uppercase font-bold text-lg pb-3 md:pb-12">
            Gestion des Permissions
        </h1>
        <div class="w-full lg:px-28">

            {{ form_start(form) }}
            <div class="flex justify-start items-center">
                <ul
                        class="globalPermissions flex flex-col justify-start w-full"
                        data-prototype="{{ formMacros.printPermissionRow(form.globalPermissions.vars.prototype)|e('html_attr') }}"
                        data_index="{{ form.globalPermissions|length > 0 ? form.globalPermissions|last.vars.name + 1 : 0 }}"
                >

                    {% for permissionForm in form.globalPermissions %}
                        {{ formMacros.printPermissionRow(permissionForm) }}
                    {% endfor %}

                </ul>
            </div>
            <div class="w-full flex justify-end items-center mb-5 mt-8">

                <button type="button"
                        class="js-btn-new flex items-center justify-center w-5/12  lg:w-3/12 lg:px-6 py-2 border-2 border-orange-500/50 rounded text-sm lg:text-base text-zinc-900 hover:border-teal-500"
                        data-collection-holder-class="globalPermissions">
                    <i class="fas fa-plus  text-teal-400 hover:text-orange-500 pr-2"></i>
                    Ajouter des options
                </button>
            </div>
            <div class="w-full flex justify-end items-center mb-5 mt-8">
                <!--Start of Permission Modal-->
                <!-- Button trigger modal -->
                    <button type="button"
                            class="flex items-center justify-center w-4/12 px-6 py-2 border-2 border-orange-500/50 rounded text-base text-zinc-900 hover:border-teal-500"
                            data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop">
                    <i class="fas fa-pen-to-square  text-teal-400 hover:text-orange-500 pr-2"></i>
                       Enregistrer
                    </button>


                {{ include('components/dashboard/content-dashboard/_modal-partner-global-permissions.html.twig') }}

                <!--End of Permission Modal-->
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>